body {
	color:#e0eeee;
	text-color:#810040;
	padding:5px;
	border: 2px #810040;
	margin: 40px;
}

.block_A {

	/*set block style*/
	display:inline-block;
	width: 7%;
	height: 80%;
	margin: 10px;

	/*set text style*/
	text-align:right;
	vertical-align:top;
	color:#e88472;
	font-size:15px;
	

}

.block_B {

	/*set block style*/
	display:inline-block;
	width:35%;
	height: 70%;
	margin: 10%;
	vertical-align:middle;
	text-align:right;

}

.block_C {

	/*set block style*/
	display:inline-block;
	width:40%;
	height: 80%;
	margin: 10px;

	/*set text style*/
	text-align:left;
	vertical-align:top;
	color:#e88472;
	font-size:22px;

}

.picture_formatting {

	width:180px;
	height: 200px;
	padding: 10px;
	border: 10px #e88472;
	margin:10px;
}


.block_width_75 {

	width: 75%;

}











