.page_block {

	/*set block style*/
	display:block;
	padding:25px;
	border: 32px #226677;
	margin: 40px;
	

}

.block_A {

	/*set block style*/
	display:inline-block;
	width: 7%;
	height: 80%;
	padding:10px;
	margin: 10px;

	/*set text style*/
	text-align:right;
	vertical-align:top;
	color:#e88472;
	font-size:15px;
	

}

.block_B {

	/*set block style*/
	display:inline-block;
	width:35%;
	height: 80%;
	padding:10px;
	border: 10px #226677;
	margin: 10px;
	vertical-align:top;

}

.block_C {

	/*set block style*/
	display:inline-block;
	width:40%;
	height: 80%;
	padding:10px;
	margin: 10px;

	/*set text style*/
	text-align:left;
	vertical-align:middle;
	color:#e88472;
	font-size:23px;

}
















